<h1 class="text-center">About Us</h1>
<h3 class="text-center">Created by: Alex Duvanenko | Followed the Udemy "Job Ready Web Developer" course by Robeen Dey</h3>
<p class="text-center">Welcome to Dev Match. We are a community of developers, entrepreneurs, and investors who are interested in meeting one another and sharing ideas.</p>